/* tailwind */
/* Fonts */
@font-face{
    src: url("../fonts/Inter-Light.ttf");
    font-weight: 200;
    font-family: Inter;
    font-display: swap;
}
@font-face{
    src: url("../fonts/Inter-Regular.ttf");
    font-weight: 400;
    font-family: Inter;
    font-display: swap;
}
@font-face{
    src: url("../fonts/Inter-SemiBold.ttf");
    font-weight: 600;
    font-family: Inter;
    font-display: swap;
}
@font-face{
    src: url("../fonts/Inter-Bold.ttf");
    font-weight: 700;
    font-family: Inter;
    font-display: swap;
}
/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    font-family: Inter, serif;
    font-size: var(--defaultFont);
    box-sizing: border-box;
    color: #1f2749;
}
/* Global */
:root{
    --colorMain: #637eff;
    --colorMainLight: #148cfc;
    --colorWhite: #ffffff;
    --colorGrey: #f6f6f6;
    --colorDark: #273266;
    --colorBlack: #232323;
    --borderRadiusSmall: 5px;
    --borderRadius: 10px;
    --borderRadiusBig: 20px;
    --h1: 72px;
    --h2: 68px;
    --h3: 48px;
    --h4: 36px;
    --h5: 28px;
    --h6: 24px;
    --h7: 16px;
    --defaultFont: 18px;
    --swiper-pagination-bottom: 0px;
}
body{
    background-color: var(--colorGrey);
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    z-index: 9;
    width: 100%;
}
.section{
    width: 100%;
    display: grid;
    padding: 75px 0;
    grid-auto-flow: row;
    justify-items: center;
    align-content: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.container{
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: start;
    padding: 0 10%;
}
.h1{
    font-size: var(--h1);
}
.h2{
    font-size: var(--h2);
}
.h3{
    font-size: var(--h3);
}
.h4{
    font-size: var(--h4);
}
.h5{
    font-size: var(--h5);
}
.h6{
    font-size: var(--h6);
}
.h7{
    font-size: var(--h7);
}
.default-font{
    font-size: var(--defaultFont);
}
.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.btn-main, .btn-main-light, .btn-white{
    padding: 10px 35px;
    cursor: pointer;
    text-decoration: none;
    color: var(--colorWhite);
    background-image: linear-gradient(120deg, var(--colorDark), var(--colorMain));
    background-position: center center;
    background-size: 200%;
    border: none;
    border-radius: var(--borderRadius);
    transition: background-color .5s ease, filter .5s ease, color .5s ease, background-position .5s ease;
    transition-property: background-position, opacity, transform, color, background-color !important;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    outline: none;
}
.btn-long{
    padding: 10px 75px;
}
.btn-main:hover, .btn-main:focus-visible{
    background-position: bottom right;
}
.btn-main-light:hover, .btn-main-light:focus-visible{
    background-position: bottom left;
    background-color: var(--colorMain);
}
.btn-white:hover, .btn-white:focus-visible{
    background-color: var(--colorMain);
    color: var(--colorWhite);
}
.btn-main{
    border: 1px solid var(--colorMain);
}
.btn-main-light{
    background-image: linear-gradient(120deg, var(--colorMainLight) 20%, var(--colorMain) 60%);
}
.btn-white{
    background-color: var(--colorWhite);
    color: var(--colorMain);
    border: 1px solid var(--colorMain);
    background-image: unset;
}
.w-200{
    font-weight: 200;
}
.w-400{
    font-weight: 400;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.txt-gradient{
    background: linear-gradient(120deg, var(--colorDark) 20%, var(--colorMainLight));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt-gradient-2{
    background: linear-gradient(120deg, var(--colorMain) 50%, var(--colorMainLight));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-2{
    border-width: 2px;
}
.color-main{
    color: var(--colorMain);
}
.color-main-light{
    color: var(--colorMainLight);
}
.color-white{
    color: var(--colorWhite);
}
.color-grey{
    color: var(--colorGrey);
}
.color-black{
    color: var(--colorBlack);
}
.color-dark{
    color: var(--colorDark);
}
.color-red{
    color: red;
}
.color-green{
    color: #447e43;
}
.grid{
    display: grid !important;
}
.gap-10{
    gap: 10px;
}
.gap-25{
    gap: 25px;
}
.gap-50{
    gap: 50px;
}
.gap-75{
    gap: 75px;
}
.gap-100{
    gap: 100px;
}
.grid-row{
    /* Все правильно если че */
    grid-auto-flow: column;
}
.grid-column{
    /* Все правильно если че */
    grid-auto-flow: row;
}
.ta-c{
    text-align: center;
}
.jc-s{
    justify-content: start;
}
.jc-c{
    justify-content: center;
}
.jc-e{
    justify-content: end;
}
.jc-sb{
    justify-content: space-between;
}
.jc-se{
    justify-content: space-evenly;
}
.jc-sa{
    justify-content: space-around;
}
.ac-s{
    align-content: start;
}
.ac-c{
    align-content: center;
}
.ac-e{
    align-content: end;
}
.ac-sb{
    align-content: space-between;
}
.ac-se{
    align-content: space-evenly;
}
.ai-s{
    align-items: start;
}
.ai-c{
    align-items: center;
}
.ai-e{
    align-items: end;
}
.ji-s{
    justify-items: start;
}
.ji-c{
    justify-items: center;
}
.ji-e{
    justify-items: end;
}
.js-s{
    justify-self: start;
}
.js-c{
    justify-self: center;
}
.js-e{
    justify-self: end;
}
.as-s{
    align-self: start;
}
.as-c{
    align-self: center;
}
.as-e{
    align-self: end;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-100{
    margin-bottom: 100px;
}
.w-inherit{
    font-weight: inherit;
}
.font-inherit{
    font-size: inherit;
}
.family-inherit{
    font-family: inherit;
}
.txt-inherit{
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}
.width-100{
    width: 100%;
}
.input{
    border: none;
    border-bottom: 1px solid black;
    padding: 7px 5px;
    background-color: transparent;
    outline: none;
    width: 100%;
    color: var(--colorBlack);
}
.label{
    position: relative;
    width: 100%;
}
.input + span{
    transition: top .3s ease, left .3s ease, font-size .3s ease;
    cursor: text;
}
.input:placeholder-shown + span{
    position: absolute;
    top: 5px;
    left: 5px;
}
.input:not(:placeholder-shown) + span{
    position: absolute;
    top: -13px;
    left: 3px;
    font-size: 0.8em;
}
.input:focus{
    border-bottom: 1px solid var(--colorMain);
}
.form{
    display: grid;
    grid-auto-flow: row;
    gap: 25px;
    justify-items: center;
    align-content: start;
    width: 100%;
    max-width: 576px;
}
/* Swiper */
.swiper-pagination-bullet{
    padding: 5px;
}
.swiper-pagination-bullet-active{
    background-color: var(--colorDark) !important;
}
.swiper-pagination{
    bottom: 5px !important;
}
/* Media */
@media(max-width: 1480px){
    :root{
        --h1: 54px;
        --h2: 48px;
        --h3: 36px;
        --h4: 28px;
        --h5: 24px;
        --h6: 22px;
        --h7: 16px;
        --defaultFont: 18px;
    }
    .section{
        padding: 70px 0;
    }
    .container{
        padding: 0 7%;
    }
}
@media(max-width: 1024px){
    :root{
        --h1: 48px;
        --h2: 48px;
        --h3: 36px;
        --h4: 26px;
        --h5: 24px;
        --h6: 22px;
        --h7: 16px;
        --defaultFont: 16px;
    }
    .section{
        padding: 70px 0;
    }
    .container{
        padding: 0 7%;
    }
}